<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    .btn-blue {
      background-color: #3b82f6; /* Tailwind CSS의 bg-blue-500 색상 */
      border: 2px solid transparent; /* 기본 테두리 스타일을 투명하게 설정 */
    }

    .btn-blue:hover {
      background-color: #2563eb; /* Tailwind CSS의 bg-blue-600 색상 */
    }
  </style>
</head>
<body>
<header class="w-full bg-gray-800 text-white py-4 fixed top-0 left-0 z-50">
  <div class="container mx-auto flex justify-between items-center px-4">
    <h1 class="text-xl font-bold">
      <a href="/views/generator">ReactComponent Creator Ver 2.3</a>
    </h1>
    <div id="auth-buttons" class="flex items-center space-x-4">
      <h2 th:if="${username}" th:text="'안녕하세요! ' + ${username} + '님'"></h2>
      <button id="login-btn" class="btn-blue px-4 py-2" onclick="location.href='/login'">로그인</button>
      <button id="logout-btn" class="btn-blue px-4 py-2" onclick="logout()">로그아웃</button>
    </div>
  </div>
</header>
<script src="/js/token.js"></script>
</body>
</html>